<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="site" type="System.Configuration.NameValueSectionHandler"/>
    <section name="sitename" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnectionString"/>
  <connectionStrings>
    <!-- 대화산업 -->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/pA6oVQkhrunrRlynvMbSf5ByCY0RTpguqIuOL19VvVn3WFTQk/apAPN/QTJN6XUR4vc4Epn+CQK0MuOfOCBfnXiHGvxrMByFCL7vOBFKOHZKeZm8FJkk23vEBfD+kfjAN0S4uDqiyY2PK8v/rjoglbiYPi12hFqeesifIrG8TsNqfMpVMqAxw/9TD80bF1Bk=" providerName="System.Data.SqlClient" />-->
    <!-- 영보 -->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW8TkEmZiJhanlMYaEk80w8K5mdWTtE+yaUitcoK4v697M6OxLuaYpfapU+rVZOq5d0zaHf37/SQXvAJw0Uwd4h552IXmIMvXniZPZGqSFXx+gQYkoQIoPtEk95IVD+Yzon6eXb0G4K0A05Ro8tRxFSJZZFcaDpODef0gPWudaYp9Gmv87I/TRhF/SWWDHgzX+Y=" providerName="System.Data.SqlClient" />-->
    <!-- 일렉트로엠-->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW+yQPC2qI4Vv5LECTId6xqzMxTgAMItvWtFxbXTvvWYEFkfEUqsCpzoD4pBSWDk8NwWrsvkladNHmRUMWh0Xr0FihqYv0ux9+61z5OYvGhzMr9S3peshCWlo2M7MJAOXogI0Yw1a0aeUCYqqsvCwacPGSimQsz57XPaMbx+yYyIDA==" providerName="System.Data.SqlClient" />-->
    <!-- 유진-->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/DzGv9DVoKY8PODTd9jHXfU4uuI7s6UIAMlDp+Xknx9edNKBd8XGd/nxB0lLa2BLSvHd4ISogktkEoVlyqC1capMfhifEmzeZdX11Z/a4G6yuBE7gLu5knJYJCWnfeel0GpWSROAL9XW9lc3xlHvHhFUvhaAkTUrmdiEKaeVaGCnCAe5rlbxuVreKu6uZgb+8=" providerName="System.Data.SqlClient" />-->
    <!-- 제노스-->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgPTuCG9FV21HgbVcZ3tlo3BQuUThUrztxRUGygFdOPYY44OhGJ1kFi2XGucGiNLPYWieje8HkXFhJ7r50PMfHhO6sncnQOHje5sCT55vQm4VIMKP4B9jB/fgg1N9mZzH6/mIPb8tkCNk5pU70r6nevuKplToD0f3vou8MNV5HlK4tM/Dur8sjY8QOHvGoePvEKQ6+sZ0TwUUP8fjyYdSVN4=" providerName="System.Data.SqlClient" />-->
    <!--우성_로컬-->
	  <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/mQFpSbBCd3IqmrISYsdLjYzNNjUmGlGNvWJkpy3Yw7VXW2X4enuvZ1PQoK0lasMUuEes62lsYj+GuVqcvexmC/OqbfTdcsA6TQ4tfFbuQHg4tKFgJvFk3F2N+NZWCSd4qTlppq0LNUeAZilLSZ67ZAdPViHGWL8pe+3ZXevlgpVDgcMpi4MjQW/nOKDI2Ync=" providerName="System.Data.SqlClient" />-->
    <!--우성_외부-->
	  <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgFxt+LMiH8Lts3l4nIsy6iYCLz7cu/1uZWu5I38fMJ07SpNSFkq2pcNffSTEc6FLplI/MeTogRwfC35I17EILtp0oqIM8mjgoBbo3aDOAX/trA5oetOAtcc4cj3dqlJTwCfP4R6fy/HOjH4fQWJOEcNd4tc7k6xvl7BqQMPrD/TGyyXwnnMW74DrHykgA5YCRUxBNMfRlfgp5gBLonbitX0OcNQe0tpISgYT4tizh/bL" providerName="System.Data.SqlClient" />-->
	  <!--TEST -->
    <!--add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgLy81zYPYHJAJX/6F/bkyhVKU3z6QqpOdhVexNEdxlI/jp6GjdUGss6+2XMECc0ItgFUAC807w5+UaSjQ+5F9FWYb1UBLEBTQhfLACAvYO+ZE4brSbZd7yyNwpbV2h2wPg3CNkbCKnHPr/LAlcZsoxQ5FmwHTgdqfmgDftevxGXjJWBWSh3yAOOKI7W8JVekIIK3U1fZH7cD9tE1gJ5Gg6E=" providerName="System.Data.SqlClient" />-->
    <!--LOCALHOST -->
    <!--add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgO2Vm16U4v4RDZr9XmAHLVKNtXCN66+bCXuWrAMwTUnTyiTtIwGSwpeq4C++ntwLcnucc2qyzbOuG7rt7Q6AOF1nzjuO3WGP2T9AJ+svxi9D/1tbJnWa3/VBOZ13jozy2ucHKMMgX7XGm5KDZXCE+HzvcF5HTbyOWak4Marc16/dUBX52KLgEM94LcRNH2tXNw==" providerName="System.Data.SqlClient" />-->
    <!-- CYC -->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/u0zJyqgJ497M+u4hPkH5o5CYErSHBNKGOCRQ5dAHVFf4VD8NxQNnXhhF6pBYqzoTxvv04i6fwvNrq+gS5lvGN96NRd3DMmI9g8B6d9uK+HchY3ocmZclwppa+C1ADbKA5mJ6f+YW92K6LepWYScBuKtssn1GWSysyVMulO4JNkMUqqV5Sf/u8+KX26B2bmi+H6eKCqJ8U737l7dKr1n5m" providerName="System.Data.SqlClient" />-->
    <!-- 대선주조 로컬 -->
    <!--<add name="ConnectionString" connectionString="gl5RnCm96RxdLYHJ0UGXgDQG/3U2HMcSh+RA0B3f/DqjO2EuifdHXQav5LHqzAkXi19mMMj/i906Y6htbkSdB0njQqjdRo+vBRyQN3ZRsvVTE/LjyPRF4UnN7mE+AGFZBvWCrK1ZXOajldjVkRPwmCY+sX7J3hQYm2dMgHjlsc34FlDWwlG5EQIMxVYsp6bGb6njdPvdQqv5NpXjoxOIOeMd9NWc5esD7xomK4xdQsg=" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, 
           PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <site>
    <!-- 대화산업 -->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/pA6oVQkhrunrRlynvMbSf5ByCY0RTpguqIuOL19VvVn3WFTQk/apAPN/QTJN6XUR4vc4Epn+CQK0MuOfOCBfnXiHGvxrMByFCL7vOBFKOHZKeZm8FJkk23vEBfD+kfjAN0S4uDqiyY2PK8v/rjoglbiYPi12hFqeesifIrG8TsNqfMpVMqAxw/9TD80bF1Bk=" />-->
    <!-- 영보-->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW8TkEmZiJhanlMYaEk80w8K5mdWTtE+yaUitcoK4v697M6OxLuaYpfapU+rVZOq5d0zaHf37/SQXvAJw0Uwd4h552IXmIMvXniZPZGqSFXx+gQYkoQIoPtEk95IVD+Yzon6eXb0G4K0A05Ro8tRxFSJZZFcaDpODef0gPWudaYp9Gmv87I/TRhF/SWWDHgzX+Y=" />-->
    <!-- 일렉트로엠-->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW+yQPC2qI4Vv5LECTId6xqzMxTgAMItvWtFxbXTvvWYEFkfEUqsCpzoD4pBSWDk8NwWrsvkladNHmRUMWh0Xr0FihqYv0ux9+61z5OYvGhzMr9S3peshCWlo2M7MJAOXogI0Yw1a0aeUCYqqsvCwacPGSimQsz57XPaMbx+yYyIDA==" />-->
    <!-- 유진-->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/DzGv9DVoKY8PODTd9jHXfU4uuI7s6UIAMlDp+Xknx9edNKBd8XGd/nxB0lLa2BLSvHd4ISogktkEoVlyqC1capMfhifEmzeZdX11Z/a4G6yuBE7gLu5knJYJCWnfeel0GpWSROAL9XW9lc3xlHvHhFUvhaAkTUrmdiEKaeVaGCnCAe5rlbxuVreKu6uZgb+8=" />-->
    <!-- 제노스-->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgPTuCG9FV21HgbVcZ3tlo3BQuUThUrztxRUGygFdOPYY44OhGJ1kFi2XGucGiNLPYWieje8HkXFhJ7r50PMfHhO6sncnQOHje5sCT55vQm4VIMKP4B9jB/fgg1N9mZzH6/mIPb8tkCNk5pU70r6nevuKplToD0f3vou8MNV5HlK4tM/Dur8sjY8QOHvGoePvEKQ6+sZ0TwUUP8fjyYdSVN4=" />-->
    <!--우성_로컬-->
    <!--add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/mQFpSbBCd3IqmrISYsdLjYzNNjUmGlGNvWJkpy3Yw7VXW2X4enuvZ1PQoK0lasMUuEes62lsYj+GuVqcvexmC/OqbfTdcsA6TQ4tfFbuQHg4tKFgJvFk3F2N+NZWCSd4qTlppq0LNUeAZilLSZ67ZAdPViHGWL8pe+3ZXevlgpVDgcMpi4MjQW/nOKDI2Ync="/> -->
	  <!-- TEST-->
    <!--add key="10" value="gl5RnCm96RxdLYHJ0UGXgLy81zYPYHJAJX/6F/bkyhVKU3z6QqpOdhVexNEdxlI/jp6GjdUGss6+2XMECc0ItgFUAC807w5+UaSjQ+5F9FWYb1UBLEBTQhfLACAvYO+ZE4brSbZd7yyNwpbV2h2wPg3CNkbCKnHPr/LAlcZsoxQ5FmwHTgdqfmgDftevxGXjJWBWSh3yAOOKI7W8JVekIIK3U1fZH7cD9tE1gJ5Gg6E=" />-->
    <!-- LOCALHOST-->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgO2Vm16U4v4RDZr9XmAHLVKNtXCN66+bCXuWrAMwTUnTyiTtIwGSwpeq4C++ntwLcnucc2qyzbOuG7rt7Q6AOF1nzjuO3WGP2T9AJ+svxi9D/1tbJnWa3/VBOZ13jozy2ucHKMMgX7XGm5KDZXCE+HzvcF5HTbyOWak4Marc16/dUBX52KLgEM94LcRNH2tXNw==" />-->
    <!-- CYC -->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgC4UQ0MluMnrhuQ24xDPxW/u0zJyqgJ497M+u4hPkH5o5CYErSHBNKGOCRQ5dAHVFf4VD8NxQNnXhhF6pBYqzoTxvv04i6fwvNrq+gS5lvGN96NRd3DMmI9g8B6d9uK+HchY3ocmZclwppa+C1ADbKA5mJ6f+YW92K6LepWYScBuKtssn1GWSysyVMulO4JNkMUqqV5Sf/u8+KX26B2bmi+H6eKCqJ8U737l7dKr1n5m" />-->
    <!-- 대선주조 로컬 -->
    <!--<add key="10" value="gl5RnCm96RxdLYHJ0UGXgDQG/3U2HMcSh+RA0B3f/DqjO2EuifdHXQav5LHqzAkXi19mMMj/i906Y6htbkSdB0njQqjdRo+vBRyQN3ZRsvVTE/LjyPRF4UnN7mE+AGFZBvWCrK1ZXOajldjVkRPwmCY+sX7J3hQYm2dMgHjlsc34FlDWwlG5EQIMxVYsp6bGb6njdPvdQqv5NpXjoxOIOeMd9NWc5esD7xomK4xdQsg="  />-->

  </site>
  <sitename>
    <add key="10" value="WIZCORE"/>
  </sitename>
  <appSettings>
    <add key="SYSTEMID" value="NexMES"/>
    <add key="PLANTCODE" value="10"/>
    <add key="STATUS" value="START"/>
    <add key="LOGINID" value="SYSTEM"/>
    <add key="CHECKLOGIN" value="Y"/>
    <add key="STARTFORM" value="WIZ.MAIN.ZA0003"/>
    <add key="STARTFORMFILE" value="WIZ.MAIN.DLL"/>
    <!--<add key="MODE" value="RELEASE" />
    <add key="SQLSERVER_SELECT" value="N" />-->
    <add key="MODE" value="DEBUG"/>
    <add key="SQLSERVER_SELECT" value="Y"/>
    <add key="DESIGNMODE" value="MODIFY"/>
    <add key="VERSION" value="1.0.0000"/>
    <add key="LVCHECKTIME" value="60"/>
    <add key="SITE" value="10"/>
    <add key="ENCRYTION" value="YES"/>
    <add key="LANGUAGE" value="KO"/>
    <add key="PLANTAUTH" value="NO"/>
    <add key="POPUPCOLOR" value="Blue"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SQLTIMEOUT" value="180"/>
    <add key="LICVALUE" value="rJHYNAvYEHVS88y3tgYbuhww1J+c18ii4L0XElG1YmE="/>
    <add key="PROJECTID" value="P1904"/>
    <add key="SETUPLOC" value="WIZCORE"/>
    <add key="LICCONNECT" value="gl5RnCm96RxdLYHJ0UGXgB4+8p+nXCTrokmo1R7OSCiJO2JKNfvpvIzc3p+ZL/57vu1hnG7c21VGn+PSrhjKlQDK/o29phi8Vn4Y7+bNjJ6UJAU+2UzfXmW9BhDYvuThdE7v9IwcyOsOGCp1MmlcohMonPrq+lkgjXFYwPKqAGLfacOj6b6xX+FfiKGr1zMXw/CQgzfkjVmFc6zM9BDck5CXkmmHScGYwJdCyvo6MMUb4mTyeP9Wp37oMWYJ0RGd"/>
    <add key="FTPCONNECT" value="SK3uDFdsgzYJXF96y9q7uO8jqrW2V/keUXPcG5jeNp495axr6yruoKuDfnlGJFeN8bSvr7QnkJcjgP9abnl/ll5K57xvsAxUiLYxqJSmWly856+BF2HT3HLe6G/vSRLa"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
